@define-color background #0d0e0d;
@define-color foreground #e5e0dc;

* {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

window {
  font-size: 20px;
  font-family: "JetBrainsMono NF";
  background-color: alpha(@background, 0.8);
  color: alpha(@foreground, 1.0);
  border-radius: 8;
}

#entry {
  padding: 1rem;
}

#entry:selected {
  background-color: alpha(@foreground, 1.0);
  border-radius: 8;
}


#text:selected {
  color: @background;
}

#input {
  background-color: transparent;
  color: alpha(@foreground, 1.0);
  padding: 1rem;
  border-radius: 8;
}

image {
  margin: 0 1rem;
}
