@define-color foreground #e5e0dc;
@define-color background #0d0e0d;
@define-color border-color #0d0e0d;

* {
  background: transparent;
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 15px;
}

waybar {
  background: alpha(shade(@background, 0.4), 0);
  min-height: 20px;
}

window#waybar {
  /* background: rgba(21, 18, 27, 0); */
  background: alpha(shade(@background, 0.4), 0);
  color: @foreground;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: @border-color;
}

#workspaces button {
  padding: 2px;
  color: lightblue;
  margin-right: 2px;
}

#workspaces button.empty {
  color: @foreground;
}

#workspaces button.active {
  color: yellow;
}

#custom-arch,
#custom-power_profile,
#custom-weather,
#window,
#battery,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#bluetooth,
#custom-updates,
#workspaces,
#tray,
#backlight,
#custom-powermenu {
  background: alpha(@background, 0.8);
  padding: 2px 10px;
  margin: 4px 0px 0px 0px;
}

#tray menu,
tooltip {
  background: @background;
  color: @foreground;
  border: 1px solid shade(@border-color, 0.6);
  border-radius: 10px;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid @border-color;
  border-right: none;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid @border-color;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 2px;
  padding-left: 2px;
  border: 1px solid @border-color;
}

#window {
  border-radius: 10px;
  border: 1px solid @border-color;
  margin-left: 10px;
}

#memory {
  color: #a6e3a1;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid @border-color;
  margin-right: 10px;
  border-left: none;
}

#cpu {
  color: #cba6f7;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid @border-color;
  border-right: none;
}

#clock {
  color: #94e2d5;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid @border-color;
  border-right: none;
}

#clock.time {
  color: #89b4fa;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  margin-right: 10px;
  border-right: 1px solid @border-color;
}

/* #clock.date { */
/*   color: @foreground; */
/*   border-radius: 10px 10px 10px 10px; */
/*   margin-right: 10px; */
/*   border: 1.5px solid @border-color; */
/* } */
/**/
/* #clock.time { */
/*   color: @foreground; */
/*   border-radius: 0px 10px 10px 0px; */
/*   margin-right: 10px; */
/*   border: 1.5px solid @border-color; */
/*   border-left: none; */
/* } */

#custom-arch {
  color: #8be9fd;
  border-radius: 10px 10px 10px 10px;
  margin-left: 8px;
  border-right: 0px;
  padding: 0px 13px 0px 8px;
  border: 1px solid @border-color;
}

#pulseaudio {
  color: #fab378;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid @border-color;
  /* border-left: none; */
  border-right: none;
}

#pulseaudio.microphone {
  color: #eba0ac;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  margin-right: 10px;
  border-right: 1px solid @border-color;
}

#custom-updates {
  color: #ffb86c;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
  border-left: 0px;
  border: 1px solid @border-color;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;

  margin-left: 0px;
  border-top: 1px solid @border-color;
  border-right: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
}
